@charset="UTF-8";


body{
	background: url("../imagens/backgrounds/background-artwork2.jpg");
	background-size: 1920px 1900px;
}

div#interface {
	width: 900px;
	background-image: url("../imagens/backgrounds/background2.gif");
	margin: 120px auto 0px auto;
	box-shadow: 0px 0px 10px black;
	padding: 20px 10px 8px 15px;
}

h1 {
	font-family: Arial;
	font-size: 30;
	color: gray;
	text-shadow: 2px 2px 2px black;
}

h2 {
	font-family: Arial;
	font-size: 15;
	color: rgba(0,0,0,.7);
	text-indent: 5px;
}

p{
	text-align: justify;
	text-indent: 5px;
}

header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 600px;
}

header#cabecalho h1{
	font-family: 'Playfair Display', serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.6);
}




/* Formatação de imagens com legendas */
figure.foto-legenda{
	position: relative;
	border: 4px solid white;
	width: 800px;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
		width: 100%;
		height: 100%;
}

figure.foto-legenda figcaption {
		opacity: 0;
		position: absolute;
		top:0px;
		background-color: rgba(0,0,0,.4);
		color: white;
		width: 100%;
		height: 100%;
		padding: 10px;
		box-sizing: border-box;
		transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;
}

/* Formatação foto sem legenda */
figure.foto {
	position: relative;
	/*border: 1px solid white;*/
	width: 750px;
	left: -20px;
	box-shadow: 3px 3px 10px black;
	background-color: rgba(0,0,0,.1);
}

/* Formatação Menu */
nav#menu {
	display: block;
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 150px;
	left: -20px;
}

nav#menu li{
	background-image: url("../imagens/layouts/buttons/button-opt.gif");
	padding-left: 15px;
	padding-bottom: 5px;
	padding-right: 54px;
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -25px;
	-webkit-transition: background-color 0.4s;
	transition: background-color 0.4s;
}

nav#menu li:hover{
	background-color: white;
}

nav#menu h1{
	display: none;
}
nav#menu a{
	color: yellow;
	text-decoration: none;
}

nav#menu a:hover{
	color: white;
}

/* Lateral Esquerda */
div#lateral-esquerda {
	position: absolute;
	top: 0px;
	left: 300px;
}

figure#buttontop img{
	position: relative;
	top: -35px;
	left: -50px;
}

figure#buttonbottom {
	position: relative;
	top: 165px;
	left: -50px;
}

figure#acimamenu {
	position: relative;
	left: -60px;
	top: -10px;
}